#intro {
  background: url(../images/DSC07038_b.jpg) no-repeat 50% 50%;
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.custom-navbrand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: white !important;
  cursor: pointer;
}

.modal-content {
  width: inherit;
  max-width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
}

a:not([href]).btn-outline-success {
  color: #28a745;
  text-decoration: none;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.bottom-border {
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 2px;
  border-bottom-color: #001c2a;
  border-radius: 0px;
}

.side-social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.icon-img.active {
  animation: shake 0.7s;
  animation-iteration-count: 5;
}

@keyframes shake {
  0% {
    filter: drop-shadow(0px 0px 7px #fff);
  }

  10%,
  20% {
    transform: rotate3d(0, 0, 1, -3deg);
    filter: drop-shadow(0px 0px 7px #fff);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg);
    filter: drop-shadow(0px 0px 7px #fff);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -3deg);
    filter: drop-shadow(0px 0px 7px #fff);
  }
}

#navbarResponsive {
  text-align: center;
}

#scrollDown {
  cursor: pointer;
}

.arrow {
  animation: bouncing 1s infinite ease-in-out;
  bottom: 0;
  display: block;
  position: absolute;
  color: white;
  font-size: 2.5em;
  position: absolute;
  left: 2px;
  right: 0;
  margin: 0 auto;
  width: 59px;
  height: 60px;
}

.redirect {
  color: #007bff !important;
  cursor: pointer;
}

.no-border {
  border: none;
}

.nav-link {
  cursor: pointer;
}

.redirect:hover {
  text-decoration: underline !important;
}

#scrollDown:hover {
  filter: drop-shadow(1px -5px 7px #fff);
}

.button2x {
  justify-content: space-evenly;
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .ms-center {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: inherit;
  }
}

.icon-img {
  height: 5vh;
  filter: none;
}

.icon-img:hover {
  filter: drop-shadow(1px 10px 1.5px #001c2a);
  cursor: pointer;
}

.icon-img {
  height: 5vh;
}

h2 {
  margin-top: 1vh;
}

h3 {
  color: #001c2a;
}

.contact-form {
  height: auto;
  border-right: #001c2a dashed 2px;
}

.navbar {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.225);
}

.bg-custom {
  background-color: #001c2a;
}

.fg-white {
  color: #fff;
}

#photo-gallary {
  height: 70vh;
}

.wh-100 {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.carousel-control-prev-icon {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23001c2a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23001c2a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev:hover {
  filter: drop-shadow(0px 2px 2px #001c2a);
}

.carousel-control-next:hover {
  filter: drop-shadow(0px 2px 2px #001c2a);
}

@media (min-width: 991px) {
  .carousel-item {
    height: 70vh;
  }
}

.landing-text {
  justify-content: center;
}

.intro-text {
  text-align: center;
  color: white;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.picture {
  width: 50%;
  height: 50%;
}

/* sm */
@media (min-width: 768px) {
  .picture {
    width: 30%;
    height: 30%;
  }
}

@media (max-height: 500px) {
  .picture {
    width: 40%;
    height: 40%;
  }
}

@media (max-height: 400px) {
  .picture {
    width: 30%;
    height: 30%;
  }

  .arrow img {
    width: 40px;
  }

  #scrollDown {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    position: absolute;
    color: white;
    font-size: 2.5em;
    position: absolute;
    left: 2px;
    right: 0;
    margin: 0 auto;
    width: 40px;
    height: 50px;
  }
}

@media (max-height: 399px) {
  .picture {
    width: 27%;
    height: 27%;
  }

  h1 {
    font-size: 1.3rem;
  }

  .icon-img {
    height: 16px;
    height: 7vh;
  }

  .arrow img {
    width: 20px;
  }

  #scrollDown {
    animation: small-bounce 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    position: absolute;
    color: white;
    font-size: 2.5em;
    position: absolute;
    left: 2px;
    right: 0;
    margin: 0 auto;
    width: 20px;
    height: 40px;
  }
}

.bio {
  text-align: center;
  color: white;
  flex-wrap: wrap;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vh;
  justify-content: center;
  text-align: center;
}

.image-center {
  justify-content: center;
}

.short {
  width: auto;
  justify-content: space-evenly;
}

.card {
  color: white;
  height: auto;
}

.icon {
  color: white !important;
  padding-right: 10px;
  padding-left: 10px;
}

.text-align-center {
  text-align: center;
}

.card-columns {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}

@keyframes bouncing {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 20px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes small-bounce {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 10px;
  }

  100% {
    bottom: 0;
  }
}

.tags {
  margin-bottom: 1rem;
  border-top-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 0.5rem;
}

.tag-title {
  font-weight: bold;
}

.video-container {
  outline: none;
  display: none;
}

.tscale {
  transform: scale(1.005);
}

.embed-responsive {
  outline: none;
}

.modal-backdrop.show {
  opacity: 0.85;
}

.vid-stop {
  color: #fff;
  position: absolute;
  right: 2rem;
  top: 0.5rem;
  outline: none;
  font-size: 40px;
}

.vid-stop:hover {
  color: #fff;
  outline: none;
}

.gallery-image {
  max-width: 100%;
  max-height: 100%;
}

#img-id {
  max-width: 100%;
  max-height: 100%;
}

.img-container {
  display: none;
}
